* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 1rem;
}

th {
  text-transform: capitalize;
  font-size: 1.135rem;
}

th,
td {
  border-bottom: 1px solid rgb(179, 179, 179);
  padding: 0.2rem 1.2rem;
}

td span {
  padding: 6px 0;
}

tbody tr:nth-child(2n + 1) {
  background-color: #eeeeee;
}
thead tr {
  background-color: #da1c1c;
  color: white;
}

tbody tr td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: .5em auto;

}

.address--field + .address--field::before {
  content: ",";
  padding: 4px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  font-size: 0.9rem;
}

.btn__edit {
  background-color: #0f46dd;
}

.btn__remove {
  background-color: #da1c1c;
}
